.question{
    border: 2px solid saddlebrown;
    background-color: blueviolet;
    margin-left: 20%;
    margin-bottom: 2%;
    border-radius: 3%;
    padding: 10px;
    font-size: small;
}
.question-body{
    border: 2px solid wheat;
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}